/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Global styles */
body, html{
background-color: #00afc4;
}

a{
color: #d2e7ea;
text-decoration: none;
} 

a:hover{
color: #fff;
}

/*Column styles */
.wrapper{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	_width: 960px;
}

img {
	max-width: 100%;
	height: auto;
}
   
.header{
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px dotted #FFF; 
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.left-column{
	width: 25%;
	float: left;
}
.right-column{
	width: 61%;
	float: left;
	
	font-family: Helvetica, Arial, sans-serif;
	padding: 19px 7% 0 7%;
	color: #fff;
}

.clearfix{
clear: both;
}

@media screen and (max-width: 520px) {
.left-column, .right-column{
width: 100%;
padding: 0;
}

.bookmark{
width: 100%;
padding-top: 40px;
}

ul{
margin-bottom:10px !important;
}

#download{
padding-top: 80px !important;
}

ul li{
width: 50%;
display: inline-block;
}

ul li a{

height: 20px;

font-size: 12px !important;
font-weight: normal !important;
text-align: center !important;
padding: 8px 7px 2px 7px !important;
}

.header{
font-size: 20px;
}

.subtitle{
font-size: 10px;
}

}

/* List styles */

ul{
padding: 20px 0 0 0;
margin:0;
list-style-type: none;
border-bottom: 5px solid #fff;

width: 100%;
}

ul li{
margin: 0;
border-top: 5px solid #fff;
}

ul li a{
display: block;
background-color: #f8c63e;
line-height: 1;
text-align: right;
padding: 10px 15px 10px 15px;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;

}

ul li a:hover{
background-color: #353535;

color: #fff;
}

/* Content styles */
.centered{
padding: 70px 0;
font-size: 30px;
text-align: center;
}

.subtitle{
font-size: 15px;
}

.small-left{
padding: 70px 30px 0px 30px;
font-size: 20px;
text-align: left;

color: #fff;
}

.code{
color: #353535;
font-family:"Lucida Console", Monaco, monospace;
}

.center-wrapper{
width: 190px;
height: 190px;
margin: 0 auto;
}

img{
margin: 0 auto;
}

.align-left{
width: 190px;
height: 190px;

float: left;
}

.align-right{
width: 190px;
height: 190px;

float: right;
}

.spacer{
width: 100%;
height: 700px;
}

.image-wrapper{
width: 190px;
height: 190px;
}


/* Buttons */
.btn-primary, .btn-text{
display:inline-block;
*display:inline;
*zoom:1;
padding:4px 10px 4px;
margin-bottom:0;
font-size:13px;
line-height:18px;
text-align:center;
vertical-align:middle;

border:1px solid #cccccc;
border-bottom-color:#b3b3b3;
-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
cursor:pointer;
*margin-left:.3em;

-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.btn-primary{
background-color:#353535;

border-color:#e69d1e #e69d1e #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
padding:6px 14px 6px;
font-size:11px;
text-transform: uppercase;
line-height:normal;
color:#ffffff !important;
margin: 5px;
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{
background-color:#ebac00;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
color:#ffffff !important;

     -webkit-transition: background-color 150ms linear;
     -moz-transition: background-color 150ms linear;
     -o-transition: background-color 150ms linear;
     -ms-transition: background-color 150ms linear;
     transition: background-color 150ms linear;
}

.downloadbar{
padding: 70px 0;
font-size: 30px;
text-align: center;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
